

.container {
display: flex;
align-items: center;
gap: 20px;
margin: 10px;
}


.title{
margin-bottom: 10px;
}

.content {
font-size: 18px;
color: #ed7611;
}

.desc {
font-size: 14px;
color: #999;
}

.imageContainer {
    border-radius: 10px;
}

.image:hover, .desc:hover, .title:hover {
    cursor: pointer;
    transform: scale(1.1);
}